/* root variables */


/* global reset*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

/* style af header/nav */

/* style af forside */

/* style af kager og bestilling */

/* style af catering */

/* style af om gotfred */

/* style af kontakt */


/* media query for desktop */
@media screen and (min-width: 1025px) {


}

/* media query for tablet */
@media screen and ( min-width: 768px ) and (max-width: 1024px) {


}

/* media query for mobile */
@media screen and ( min-width: 414px ) and (max-width: 767px) {


}