/* root variables */
:root {
   --lightblue: #E7F1FF;
   --blue: #2D65B6;
   --yellow: #F8EEB7;
   --beige: #E8E7E4;
   --offblack: #111111; 
   --offwhite: #F8F9FA;
   --regular: 400;
   --light: 300;
   --medium: 500;
}

/* global selectors*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:'Montserrat', sans-serif;
}
a {
   text-decoration: none;
}

/* style af header/nav */
 .navbar {
   font-size: 18px;
   background-color: var(--lightblue);
 }
 
 .main-nav {
   list-style-type: none;
   display: none;
   padding-top: 20px;
 }
 
 .nav-links {
   color: var(--offblack);
   padding-right: 1.5rem;
 }
 .main-nav li {
   text-align: center;
   margin: 15px auto;
   padding-bottom: 1.5rem;
 }
 
 .logo {
   display: inline-block;
   font-size: 22px;
   margin-top: 10px;
   margin-left: 20px;
   width: 150px;
   height: auto;
 }
 
 .navbar-toggle {
   position: absolute;
   top: 10px;
   right: 50px;
   color: var(--blue);
   font-size: 24px;
 }
 
 .active {
   display: block;
 }
 
/* style af forside */

/* style af kager og bestilling */


#myForm{
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;

}

.produkt-figure{
width: 20vw;

}
.produkt-overskrift{
   font-size: 1.5rem;
   text-align: center;
}
.produkt-information{
   border: 1px solid black;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   overflow: hidden;
}
.produkt-billede{
width: 21vw;
height: auto;
}
.produkt-ikoner{
   display: flex;
   justify-content: center;
   margin-bottom: 1rem;

}
.produkt-ikoner img{
width: 20%;
height: auto;

}
.produkt-p{
   font-family: monsserat;
}

.produkt-minus-button{
   height: 30px;
   border: 0;
   border-radius: 20px 0px 0px 20px;
   width: 40px;
}
.produkt-plus-button{
   height: 30px;
   border: 0;
   border-radius: 0 20px 20px 0;
   width: 40px;
}
.produkt-button-value{
width: 30px;
height: 30px;
border: 0;
text-align: center;
margin-bottom:0.25rem;
}
.produkt-tilfoj-knap{
   border: 0;
   border-radius: 20px;
   width: 120px;
   height: 30px;
   margin: 0.25rem;
   color: var(blue);
}

.produkt-formular{
   margin-right: 5vw;
   
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.produkt-formular-section{
   width: 80vw;
   background-color: var(--lightblue);
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr;
   margin: auto;
   border-radius: 15px;

}
.formular-email{
height: 40px;
width: 40vw;
border: 0;
border-radius: 10px;
margin: 0.5rem;
padding-left: 10px;
}

.formular-navn{
   height: 40px;
   width: 40vw;
   border: 0;
   border-radius: 10px;
   margin: 1rem;
   padding-left: 10px;
}

.formular-besked{
width: 39.5vw;
height: 20vh;
border: 0;
border-radius: 10px;
padding: 10px;
margin: 0.5rem;

}

.form{
   text-align: center;
}

.overskrift-udfyld{
   margin-top: 4rem;
   margin-bottom: 2rem;
   font-family: monsserat;
   color: var(--blue);
}
.orderList{
height: 450px;
width: 300px;
background-color: white;
border-radius: 8px;
margin: 2rem;
margin-left: 6vw;
margin-top: 3rem;
}
.koeb-button{
   width: 150px;
   height: 30px;
   border: 0;
   border-radius: 20px;
   
   margin: 0.5rem; 
}
/* style af catering */

/* style af om gotfred */

/* style af kontakt */


/* media query for desktop */
/* @media screen and (min-width: 1025px) {
} */

/* media query for tablet */
@media screen and ( min-width: 768px ) {
   .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: var(--blue);
    }

}

/* media query for mobile */
/* @media screen and ( min-width: 414px ) and (max-width: 767px) {


} */