/* media query for tablet */
@media screen and ( min-width: 768px) AND ( max-width: 1024px) {
    h1{
       font-size: 2rem;
    }
    h2{
       font-size: 1.5rem;
    }
 
    /* navigation */
    .nav-menu {
     position: absolute;
     left: 0;
     top: 2.5rem;
     width: 100%;
     height: calc(100vh - 3.5rem);
     overflow: auto;
     pointer-events: none;
     opacity: 0;
     transition: top .4s, opacity .3s;
   }
   .nav-list {
     background-color: var(--lightblue);
     padding-top: 1rem;
   }
   .nav-logo img {
     height: 2.5rem;
   }
    /* navigation slut */
 }